[submodule "next-frontend"]
	path = next-frontend
	url = https://github.com/victorstefan28/next-frontend
	branch = main
[submodule "dotNet-backend"]
	path = dotNet-backend
	url = https://github.com/omacelaru/dotNet-backend
